[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/JelenHu
[access "refs/for/refs/*"]
	read = group user/JelenHu
	push = group user/JelenHu
	label-Code-Review = -2..+2 group user/JelenHu
	label-Verified = -1..+1 group user/JelenHu
	rebase = group user/JelenHu
	removeReviewer = group user/JelenHu
	submit = group user/JelenHu
[access "refs/heads/*"]
	read = group user/JelenHu
	create = group user/JelenHu
	push = +force group user/JelenHu
	pushMerge = group user/JelenHu
[access "refs/tags/*"]
	push = +force group user/JelenHu
	pushTag = group user/JelenHu
	pushSignedTag = group user/JelenHu
